* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    color: #202020;
  }
  .menu{
    height: 75px;
    background:rgb(15, 15, 15);
    width: 100%;
  }
  .menu ul {
      position: absolute;
    background:rgb(20, 20, 20);
    list-style-type: none;
    text-align: center;
    margin-top: 1px;
    width: 100%;
  }
 
  .menu li {
    margin: 0% 0%;
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 65px;
    line-height: 40px;
    margin-left: -5px;
    list-style: none;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
    line-height: 65px;
  }
  .menu a:hover {
    background: #F1F1F1;
    color: #333;
    transition: 0.4s;
  }
  
  p {
    display: none;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
  }
  
  table td, table th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
  }
  
  table td {
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
  }
  
  table th {
    background-color: #4ECDC4;
  }
  
  table tr:nth-of-type(even) td {
    background-color: #d9f4f2;
  }
  
  table .total th {
    background-color: white;
  }
  
  table .total td {
    text-align: right;
    font-weight: 700;
  }
  
  .mobile-header {
    display: none;
  }
  
  @media only screen and (max-width: 760px) {
    p {
      display: block;
      font-weight: bold;
    }
    table tr td:not(:first-child), table tr th:not(:first-child), table tr td:not(.total-val) {
      display: none;
    }
    table tr:nth-of-type(even) td:first-child {
      background-color: #d9f4f2;
    }
    table tr:nth-of-type(odd) td:first-child {
      background-color: white;
    }
    table tr:nth-of-type(even) td:not(:first-child) {
      background-color: white;
    }
    table tr th:first-child {
      width: 100%;
      display: block;
    }
    table tr th:not(:first-child) {
      width: 40%;
      -webkit-transition: -webkit-transform 0.4s ease-out;
      transition: -webkit-transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
      transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
      -webkit-transform: translateY(-9999px);
              transform: translateY(-9999px);
      position: relative;
      z-index: -1;
    }
    table tr td:not(:first-child) {
      -webkit-transition: -webkit-transform 0.4s ease-out;
      transition: -webkit-transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
      transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
      -webkit-transform: translateY(-9999px);
              transform: translateY(-9999px);
      width: 60%;
      position: relative;
      z-index: -1;
    }
    table tr td:first-child {
      display: block;
      cursor: pointer;
    }
    table tr.total th {
      width: 25%;
      display: inline-block;
    }
    table tr td.total-val {
      display: inline-block;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 300px) {
    table tr th:not(:first-child) {
      width: 50%;
      font-size: 14px;
    }
    table tr td:not(:first-child) {
      width: 50%;
      font-size: 14px;
    }
  }


  input[type=submit] {
    margin-left: 40%;
   width: 23%;
   margin-top: 20px;
   padding: 15px 0;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 1px;
   text-align: center;
   text-decoration: none;
       background: -moz-linear-gradient(
       top,
       #0b378f 0%,
       #041744);
   background: -webkit-gradient(
       linear, left top, left bottom, 
       from(#0cce16),
       to(#03184b));
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #737b8d;
   -moz-box-shadow:
       0px 5px 5px rgba(000,000,000,0.1),
       inset 0px 1px 0px rgba(255,255,255,0.5);
   -webkit-box-shadow:
       0px 5px 5px rgba(000,000,000,0.1),
       inset 0px 1px 0px rgba(255,255,255,0.5);
   box-shadow:
       0px 5px 5px rgba(000,000,000,0.1),
       inset 0px 1px 0px rgba(255,255,255,0.5);
   text-shadow:
       0px 1px 3px rgba(000,000,000,0.3),
       0px 0px 0px rgba(255,255,255,0);
   display: table;
   position: static;
   clear: both;
}
input[type=submit]:hover {
   background: -moz-linear-gradient(
       top,
       #a4b0cb 0%,
       #b9c5dd);
   background: -webkit-gradient(
       linear, left top, left bottom, 
       from(#74d406),
       to(#b9c5dd));
}

  /*# sourceMappingURL=1.css.map */